In [1]:
import pandas as pd

In [2]:
df_film = pd.read_csv('IMDb Basics Data.tsv', sep='\t')
len(df_film)

/var/folders/l2/4bhymbh53d3_vrys9v8mb6hw0000gn/T/ipykernel_31075/2957978213.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_film = pd.read_csv('IMDb Basics Data.tsv', sep='\t')

11221518

In [3]:
film_et_serie = df_film['titleType'].isin(['movie','tvMovie','tvSeries' ])
df_film = df_film[film_et_serie]

In [4]:
df_film['genres'] = df_film['genres'].apply(lambda x : str(x).split(','))
news = df_film['genres'].apply(lambda x : 'News' in x)
df_film = df_film[~news]

In [5]:
talk = df_film['genres'].apply(lambda x : 'Talk-Show' in x)
df_film = df_film[~talk]

In [6]:
game = df_film['genres'].apply(lambda x : 'Game-Show' in x)
df_film = df_film[~game]

In [7]:
reality = df_film['genres'].apply(lambda x : 'Reality-TV' in x)
df_film = df_film[~reality]

In [8]:
adulte = df_film['genres'].apply(lambda x : 'Adult' in x)
df_film = df_film[~adulte]

In [9]:
len(df_film)

1039541

In [10]:
df_fr_note = pd.read_csv('film_fr_notes.csv') 
df_fr_note.head()

,Unnamed: 0,tconst,averageRating,numVotes,title,region,language
0,0,tt0000002,5.6,282,Le clown et ses chiens,FR,\N
1,1,tt0000003,6.5,2121,Pauvre Pierrot,FR,\N
2,2,tt0000004,5.4,182,Un bon bock,FR,\N
3,3,tt0000010,6.8,7763,La sortie de l'usine Lumière,FR,\N
4,4,tt0000010,6.8,7763,La sortie des ouvriers de l'usine Lumière,FR,\N

In [11]:
big_df = df_fr_note.merge(
    right=df_film,
    how='inner',
    on='tconst'
)
big_df

,Unnamed: 0,tconst,averageRating,numVotes,title,region,language,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,217,tt0000591,5.7,28,L'enfant prodigue,FR,\N,movie,The Prodigal Son,L'enfant prodigue,0,1907,\N,90,[Drama]
1,236,tt0000886,4.7,40,Hamlet,FR,\N,movie,"Hamlet, Prince of Denmark",Hamlet,0,1910,\N,\N,[Drama]
2,245,tt0001101,5.1,41,La Clémence d'Abraham Lincoln,FR,\N,movie,Abraham Lincoln's Clemency,Abraham Lincoln's Clemency,0,1910,\N,\N,[\N]
3,246,tt0001175,5.3,44,La dame aux camélias,FR,\N,movie,Camille,La dame aux camélias,0,1912,\N,\N,"[Drama, Romance]"
4,251,tt0001285,5.5,63,La Vie de Moïse,FR,\N,movie,The Life of Moses,The Life of Moses,0,1909,\N,50,"[Biography, Drama, Family]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92093,137556,tt9913084,6.7,55,Diabolik sono io,FR,\N,movie,Diabolik Is Me,Diabolik sono io,0,2019,\N,75,[Documentary]
92094,137558,tt9913936,7.4,61,Le paradis de Diego,FR,\N,movie,Paradise,Paradise,0,2019,\N,135,"[Crime, Drama]"
92095,137560,tt9915022,4.9,129,Yarali Kuslar,FR,\N,tvSeries,Yarali Kuslar,Yarali Kuslar,0,2019,2019,90,[Drama]
92096,137562,tt9915790,7.0,44,Bobbyr Bondhura,FR,\N,movie,Bobbyr Bondhura,Bobbyr Bondhura,0,2019,\N,106,[Family]
92097,137565,tt9916362,6.4,5940,Les sorcières d'Akelarre,FR,\N,movie,Coven,Akelarre,0,2020,\N,92,"[Drama, History]"

In [12]:
big_df.drop([
    'Unnamed: 0',
    'originalTitle'
    ],
    axis=1,
    inplace=True)
big_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92098 entries, 0 to 92097
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          92098 non-null  object
 1   averageRating   92098 non-null  float64
 2   numVotes        92098 non-null  int64
 3   title           92098 non-null  object
 4   region          92098 non-null  object
 5   language        92098 non-null  object
 6   titleType       92098 non-null  object
 7   primaryTitle    92098 non-null  object
 8   isAdult         92098 non-null  object
 9   startYear       92098 non-null  object
 10  endYear         92098 non-null  object
 11  runtimeMinutes  92098 non-null  object
 12  genres          92098 non-null  object
dtypes: float64(1), int64(1), object(11)
memory usage: 9.1+ MB

In [13]:
big_df.to_csv('film_serie_fr_notes.csv')